player-connection-mode=Listen
player-connection-guid=3369931434
player-connection-debug=0
player-connection-project-name=My project
player-connection-wait-timeout=-1
player-connection-ip=10.69.34.107
player-connection-ip=192.168.79.1
player-connection-ip=192.168.12.1
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
